<div class="container">
  <form autocomplete="off" #f="ngForm" (ngSubmit)="salvar()">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ editandoProduto ? 'Edição de' : 'Cadastro novo' }} Produto</h1>

      </div>

      <div class="ui-g-6 ui-md-4 ui-fluid">
        <label>Código de barras</label>
        <input pInputText type="text" name="codigoBarras" [(ngModel)]="produto.codigoBarras">
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome"  #nome="ngModel" required minlength="2" [(ngModel)]="produto.nome">

        <div class="ui-grid-col-4">
          <p-message severity="error" text="Informe o nome" *ngIf="nome.hasError('required') && nome.dirty"></p-message>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="Minimo de {{nome.errors.minlength.requiredLength}} caracteres" 
          *ngIf="nome.hasError('minlength') && nome.dirty"></p-message>
        </div>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input pInputText type="text" placeholder="0,00" name="valor" ngModel [(ngModel)]="produto.precoVenda" currencyMask 
        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' , allowNegative: false}">
      </div>

      <div class="ui-g-6 ui-fluid">
        <label>Unidade Medida</label>
        <p-dropdown [options]="unidades" [autoWidth]="false" [filter]="true" name="unidadeMedida" placeholder="Selecione" [(ngModel)]="produto.unidadeMedida.id">
        </p-dropdown>

      </div>

      <div class="ui-g-6 ui-fluid">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" [autoWidth]="false" name="categoria" placeholder="Selecione" [(ngModel)]="produto.categoria.id">
          </p-dropdown>
      </div>

      <div class="ui-g-6 ui-fluid">
        <label>Fornecedor</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-6 ui-fluid">
        <label>Fabricante</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observações</label>
        <textarea pInputTextarea rows=3 name="observacoes" [(ngModel)]="produto.observacoes"></textarea>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="salvar"></button>
        <button pButton type="button" label="novo" class="ui-button-info" (click)="novo(f)"></button>
        <a routerLink="/produtos">Voltar para a busca</a>
      </div>
    </div>

  </form>


</div>