<div class="container">
  <div class="ui-g">
      <div class="ui-g-12">
          <h1>Produtos</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
          <label>Descrição</label>
          <input type="text" pInputText />
      </div>

      <div class="ui-g-12">
          <button pButton type="submit" label="Pesquisar"></button>
      </div>

      <div class="ui-g">
          <div class="ui-g-12">
                <app-produtos-grid  [produtos]="produtos"> </app-produtos-grid>
          </div>
      </div>

      <div class="ui-g-12">
          <a pButton label="Novo produto"></a>
      </div>

  </div>
</div>