<div class="container">
  <form autocomplete="off" #f="ngForm" >
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Departamentos</h1>

      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" required minlength="2" #nome="ngModel" [(ngModel)]="departamento.nome" >

        <div class="ui-grid-col-4">
          <p-message severity="error" text="Informe o nome" *ngIf="nome.hasError('required') && nome.dirty"></p-message>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="Minimo de {{nome.errors.minlength.requiredLength}} caracteres" *ngIf="nome.hasError('minlength') && nome.dirty"></p-message>
        </div>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="salvar"></button>
      </div>
    </div>
  </form>

  <div class="ui-g">
    <div class="ui-g-12">

        <p-table [value]="departamentos" [responsive]="true"  #tabela>
            <ng-template pTemplate="header">
                <tr>
                    <th>Codigo</th>
                    <th>Nome</th>
                    <th></th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-produto>
                <tr>
                    <td>{{departamento.id}}</td>
                    <td>{{departamento.nome}}</td>
                    
                    <td class="col-acoes">
                        <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" class="botao"
                        [routerLink]="['/produtos', produto.id]"></a>
                        
                        <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" 
                                (click)="confimarExclusao(produto)"> </button>
                    </td>

                </tr>
            </ng-template>

        </p-table>

    </div>
</div>
</div>