<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibirMenu = !exibirMenu">
          <i class="pi pi-bars"></i>
        </a>

      </div>

    </div>

  </div>

  <ul class="navbar-menu" [hidden]="!exibirMenu">
    <li class="navbar-usuario">Fellipe</li>
    <li class="navbar-menu-item" routerLinkActive="ativo"><a routerLink="/produtos">Produtos</a></li>
    <li class="navbar-menu-item" routerLinkActive="ativo"><a routerLink="/produtos/novo">Novo Produto</a></li>
    <li class="navbar-menu-item" routerLinkActive="ativo"><a routerLink="/categorias">Categorias</a></li>
    <li class="navbar-menu-item" routerLinkActive="ativo"><a routerLink="/departamentos">Departamentos</a></li>
    <li class="navbar-menu-item" routerLinkActive="ativo"><a href="/produtos/relatorio">Lista Preço</a></li>
  </ul>
</nav>